.content {
  margin: 0.5rem;
}
.top-bar {
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.notloggedin {
  color: red;
}
.player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 5rem 5rem 5rem;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0.5rem;
  justify-content: start;
  align-items: center;

  padding: 0.5rem;

  /* width: fit-content; */
}
.player div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player:hover {
  background-color: #e6e6e6;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.footer button {
  margin-bottom: 0;
}
.reveal {
  width: fit-content;
}
#removeButton:hover {
  color: red;
}
#playerPoints {
  color: rgb(15, 210, 210);
  font-weight: 500;
}
.deletePlayer {
  width: 20rem;
}
/* mobile screen for example */
@media only screen and (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
}
