.content {
  margin: 0.5rem;
}
.notloggedin {
  color: red;
}
.values {
  display: grid;

  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.playerCard {
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 10rem 15rem 7.5rem;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin: 0.5rem;
  width: fit-content;
}
.player:hover {
  width: fit-content;
  background-color: #e6e6e6;
}
.button:hover {
  color: black;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.reveal {
  width: fit-content;
}
#removeButton:hover {
  color: red;
}
#editButton {
  margin-right: 2rem;
}
#plusButton {
  margin-right: 2rem;
}
.top-bar {
  padding: 0 0 0 1.5rem;
}
#addPlayerModalButton {
  align-self: center;
  margin: 0.5rem 0 0.5rem 2rem;
}
#playerPoints {
  color: rgb(15, 210, 210);
}
.deletePlayer {
  width: 20rem;
}
