body {
  background-color: #fefefe;
}
.formular {
  width: 250px;
}
.content {
  margin: 2%;
}
.player:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.player {
  width: fit-content;
  line-height: 3rem;
}
ul {
  list-style-type: none;
}
p {
  color: red;
}

.playerCard {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.playerButtons {
  display: none;
}
.playerCard:hover .playerButtons {
  display: inline-flex;
}

.playerButtons .increment,
.playerButtons .decrement,
.playerButtons .remove {
  margin-bottom: 0;
  margin-left: 1rem;
}
