<template name="leaderboard">
  {{#if currentUser}}
  <div class="formular">
    <button class="button" data-open="exampleModal1">Add Player</button>
  </div>
  <ul>
    <div class="values">
      <div>Firstname</div>
      <div>Lastname</div>
      <div>Discipline</div>
      <div>Points</div>
    </div>
    {{#each player in players}}
    <div class="player">
      {{> PlayerCard Player=player}}
    </div>
    <div class="reveal" id="edit_{{player._id}}" data-reveal>
      {{> editPlayerForm Player=player}}
    </div>
    <div class="reveal" id="remove_{{player._id}}" data-reveal>
      {{> removePlayerForm Player=player}}
    </div>
    {{/each}}
  </ul>
  {{else}}
  <p class="notloggedin">You must be logged-in to see this content.</p>
  {{/if}}

  <div class="reveal" id="exampleModal1" data-reveal>
    {{> addPlayerForm}}
  </div>
</template>