<template name="PlayerCard">
    <div class="playerCard">
        <div>{{Player.firstname}}</div>
        <div>{{Player.lastname}} </div>
        <div>{{Player.discipline}}</div>
        <div>{{Player.score}}</div>
        <div>
            <button class="button success small increment">Give 5 Points</button>
            <button class="button warning small decrement">Take 5 Points</button>
        </div>
        <div class="formular">
            <button class="button small" data-open="exampleModal2">Edit Player</button>
            <button class="button small" data-open="exampleModal3">Remove Player</button>
        </div>
    </div>
</template>