<template name="removePlayerForm">
    <b>Delete Player</b>
    <div class="deletePlayer" id="RemovePlayer">
        <p>Do you really want to delete {{Player.firstname}} {{Player.lastname}}?</p>
        <a class="cancel button" href="#" id="cancelremovePlayer">Cancel</a>
        <a class="alert button" href="#" id="removePlayer">Delete</a>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</template>