<template name="editPlayerForm">
    <b>Edit Player</b>
    <form name="editPlayer" id="editPlayer">
        <label>Firstname:
            <input type="text" name="playerName" value={{Player.firstname}}></label>
        <label>Lastname:
            <input type="text" name="playerLastName" value={{Player.lastname}}></label>
        <label>Select Discipline
            <select id="discipline">
                <option value="Football">Football</option>
                <option value="Ice Hockey">Ice Hockey</option>
                <option value="Athletics">Athletics</option>
            </select>
        </label>
        <div class="footer">
            <a class="editButton submitButton" href="#" id="editPlayer">Confirm</a>
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</template>