<template name="editPlayerForm">
    <form id="editPlayer_{{Player._id}}" class="editForm">
        <b>Edit Player</b>

        <label>Firstname:
            <input type="text" playerId={{Player._id}} id="editPlayerFirstName" value="{{Player.firstname}}">
        </label>
        <label>Lastname:
            <input type="text" playerId={{Player._id}} id="editPlayerLastName" value="{{Player.lastname}}">
        </label>
        <label>Select Discipline
            <select id="discipline">
                {{#each option in options}}
                <option value="{{value}}" {{selected}}>{{option.value}}</option>
                {{/each}}
                <!-- <option value="Football" {{footballSelected}}>Football</option>
                <option value="Ice Hockey" {{iceHockeySelected}}>Ice Hockey</option>
                <option value="Athletics" {{athleticsSelected}}>Athletics</option> -->
            </select>
        </label>
        <div class="footer">
            <input type="submit" class="editButton submitButton" href="#" value="Confirm">
        </div>
    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</template>