<template name="leaderboard">

  <div class="player">
    <div><b>Firstname</b></div>
    <div><b>Lastname</b></div>
    <div><b>Discipline</b></div>
    <div><b>Points</b></div>
    <div></div>
    <div></div>
  </div>
  {{#each player in players}}
  {{> PlayerCard Player=player}}
  {{/each}}
  {{#each player in players}}
  <div class="reveal" id="edit_{{player._id}}" data-reveal>
    {{> editPlayerForm Player=player}}
  </div>
  <div class="reveal" id="remove_{{player._id}}" data-reveal>
    {{> removePlayerForm Player=player}}
  </div>
  {{/each}}
</template>